**/.dockerignore
**/.env
**/.git
**/.github
**/.idea
**/.vs
**/.vscode
**/bin
**/obj
**/packages
**/TestResults
**/CodeCoverage
**/*.binlog
**/*.log
**/*.nupkg
**/*.snupkg
**/*.suo
**/*.user
Maliev.Web.Tests/
docs/
README.md
